*{
    text-align: right;
}
h2{
    color: crimson;
    background-color: rgb(32, 28, 28);
}
.sai{
    color: blanchedalmond;
    background-color: chartreuse;
}
.krishna{
    color: rgb(215, 25, 101);
}
#sana{
    color: aliceblue;
}
#sana2{
    color: aqua;
}